{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperacion de Contraseña</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">
  <link rel="stylesheet" href="{% static 'css/emailResetForm.css'%}">
</head>
<body>
  <a href="/" id="logo"><img src="{%static 'img/mablaLOGO-removebg.png'%}" alt="logo" class="logo"></a>
  <header>
      {% block content %}
          <h1 id="titulo">Solicitud de recuperación de clave enviada</h1>
          <section>
              <p class="p">Te enviamos un correo electrónico con instrucciones para restablecer tu clave.</p>
          </section>
      {% endblock %}
  </header>
  <img src="{%static 'img/capiMonopatin.png'%}" alt="capibara" id="capibara">
</body>
</html>
