{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperacion de Contraseña</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">
        <link rel="stylesheet" href="{% static 'css/emailResetForm.css'%}">
    </head>
    <body>
        <a href="/" id="logo"><img src="{%static 'img/mablaLOGO-removebg.png'%}" alt="logo" class="logo"></a>
        <header>
            {% block content %}
                <h1 id="error">Recupera tu cuenta</h1>
                <section>
                    <p id="frase">Por favor, ingresa el correo electrónico que registraste en <span>MABLA</span> para restablecer tu clave.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                </section>
                        <button type="submit">Enviar</button>  
                    </form>
            {% endblock %}
        </header>
        <img src="{%static 'img/capiMonopatin.png'%}" alt="capibara" id="capibara">
    </body>
</html>