{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperacion de Contraseña</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">
  <link rel="stylesheet" href="{% static 'css/emailResetForm.css'%}">
</head>
<body>
  <a href="/" id="logo"><img src="{%static 'img/mablaLOGO-removebg.png'%}" alt="logo" class="logo"></a>
  <header>
      {% block content %}
          <h1 id="error">Restablece tu clave</h1>
          <section>
              <p id="frase">Por favor, ingresa el correo electrónico que registraste en <span>MABLA</span> para restablecer tu clave.</p>
              <form method="post">
                  {% csrf_token %}
                  <p>
                    <label for="id_new_password1">Nueva clave</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
                    <span class="helptext"></span>
                  </p>
                  <p>
                    <label for="id_new_password2">Confirma tu clave</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                  </p>
          </section>
                  <button type="submit">Guardar</button>  
              </form>
      {% endblock %}
  </header>
  <img src="{%static 'img/capiMonopatin.png'%}" alt="capibara" id="capibara">
  

  <!-- <ul>
    <li>Tu contraseña no puede ser demasiado similar a tu otra información personal.</li>
    <li>Tu contraseña debe contener al menos 8 caracteres.</li>
    <li>Tu contraseña no puede ser una contraseña comúnmente utilizada.</li>
    <li>Tu contraseña no puede ser completamente numérica.</li>
  </ul> -->

</body>
</html>