<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/BDMabla/Tablas/static/css/aprendiendo.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
      <div class="custom-shape-divider-top-1686420124">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
     
        <h1>EXPLORA Y APRENDE</h1>
        <img class="flecha" src="/img/flecha-hacia-abajo-para-navegar.png" alt="">
        <h2>"LAS LENGUAS DE SEÑAS SON  A MIS OJOS LO QUE LAS PALABRAS A TUS OÍDOS"</h2>
        <a class="btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            APRENDE
          </a>
         
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="background-color: rgb(215, 98, 3);">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">INDAGA Y APRENDE</h5>
              <button type="button" class="btn-close tWtIaxVXM" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style="background-color: black;">
              <div>

                <select name="Adjetivos" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" > ADJETIVOS</option>
                <optgroup label="Adjetivos">
                  <option value="1"> Formas</option>
                  <option value="2"> Calidad</option>
                  <option value="3"> Sensoriales</option>
                  <option value="4"> Sentimientos</option>
                  <option value="5"> Ordinales</option>
                  <option value="6"> Posesivos</option>
                  <option value="7"> Colores</option>
                </optgroup>
                </select>

                <select name="adverbios" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" >ADVERBIOS</option>
                <optgroup label="Adverbios">
                  <option value="8"> Cantidad</option>
                  <option value="9"> Calidad</option>
                  <option value="10"> Posibilidad</option>
                  <option value="11"> Temporales</option>
                  <option value="12"> Ubicación</option>
                  
                </optgroup>
                </select>

                <select name="conjunciones" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" >CONJUNCIONES</option>
                <optgroup label="aprende">
                  <option value="13"> Conjunciones</option>
                
                </optgroup>
                </select>

                <select name="locuciones" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" >LOCUCIONES</option>
                <optgroup label="aprende">
                  <option value="14"> Locuciones</option>
                
                </optgroup>
                </select>
                

                <select name="interjeciones" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option  value="xx" >INTERJECIONES</option>
                <optgroup label="aprende">
                  <option value="15"> Interjeciones</option>
                
                </optgroup>
                </select>

                <select name="preposiciones" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" >PREPOSICIONES</option>
                <optgroup label="aprende">
                  <option value="16"> Preposiciones</option>
                
                </optgroup>
                </select>

                <select name="pronombres" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" >PRONOMBRES</option>
                <optgroup label="Pronombres">
                  <option value="17"> Personales</option>
                  <option value="18"> Indefinidos</option>
                  <option value="19"> Interrogativos</option>
                  <option value="20"> Demostrativos</option>
                  
                  
                </optgroup>
                </select>

                <select name="sustantivos" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" >SUSTANTIVOS</option>
                <optgroup label="Sustantivos">
                  <option value="21"> Animales</option>
                  <option value="22"> Gente</option>
                  <option value="23"> Cuerpo Humano</option>
                  <option value="24"> Familia</option>
                  <option value="25"> Geografía</option>
                  <option value="26"> Plantas</option>
                  <option value="27"> Frutas</option>
                  <option value="28"> Verduras</option>
                  <option value="29"> Carnes</option>
                  <option value="30"> Legumbres</option>
                  <option value="31"> Tiempo</option>
                  <option value="32"> Espacio</option>
                  <option value="33"> Materiales</option>
                  <option value="34"> Medidas</option>
                  <option value="35"> Sociedad</option>
                  <option value="36"> Economía</option>
                  <option value="37"> Hogar</option>
                  <option value="38"> Herramientas</option>
                  <option value="39"> Lenguaje</option>
                  <option value="40"> Ropa</option>
                  <option value="41"> Transportes</option>
                  <option value="42"> Actividades</option>
                  <option value="43"> Espacio-Cantidad </option>
                  <option value="44"> Cantidad</option>
                  <option value="45"> Numeros</option>
                  <option value="46"> Abstractos</option>
                  
                  
                </optgroup>
                </select>

                <select name="verbos" size="1" style="width: 100%; height: 80px; background-color: rgb(12, 96, 126);">
                  <option value="xx" >VERBOS</option>
                <optgroup label="Verbos">
                  <option value="47"> Auxiliares</option>
                  <option value="48"> Existencia</option>
                  <option value="49"> Movimiento</option>
                  <option value="50"> Sensaciones</option>
                  <option value="51"> Emociones</option>
                  <option value="52"> Actividades</option>
                  
                  
                  
                </optgroup>
                </select>


               

                


              </div>
            
            </div>
          </div>

     
    </section>
    <div class="custom-shape-divider-top-1686419354">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
  </div>
   

        
</body>
</html>