{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MABLA-CONSULTAR</title>
    <link rel="stylesheet" href="{% load static %}{% static 'css/consultando.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script>
   <link rel="stylesheet" href="{% static 'css/consultando.css' %}">
   <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">

</head>
<body>
    <section class="todoo">

    <section class="caja">
    <nav class="nav">
        <ul id="list">
            <!-- <img src="{% static 'img/flecha-apunta-a-la-derecha.png'%}" alt="flecha" class="list_arrow"> -->

            <!-- <img src="{% static 'img/flecha-apunta-a-la-derecha.png'%}" style="height: 10px;" id="list_arrow">
              -->   
    <!--        <li class="list_item list_item--click">

                <div class="list_button list_button--click" >
                    <h1 style=" padding: 15px; font-size: 20px; width: 100%; background-color: transparent;" class="categorias"></h1>
                    <img src="{% static 'img/flecha-apunta-a-la-derecha.png'%}" style="height: 10px;" class="list_arrow">
                   
                </div>
            

               <ul class="list_show">
                    <li class="list_inside">
                        <a href="#" class="nav_link nav_link--inside">Estoy dentro</a>
                    </li>
                </ul>                       
            </li>  -->  
            
           
            
        </ul>
    </nav>

</section>

    <section class="caja2">

    <div class="buscar">

        <input type="text" placeholder="Buscar">
        <div class="btn">
            <i class="fa fa-search" id="lupa" ></i>
        </div>
    </div>



        <div id="resultado">
        <h1 class="subtitulo">Subcategoria</h1>

        
    
        </div>


   

</section>




  <!--   <script src="/BDMabla/Tablas/static/js/consultando.js"></script> -->

   

    <table id="consultaCategoria">

    </table>

  
    
    <script src="{%static 'js/consultando.js'%}"></script>
</section>
   

    
</body>
</html>