{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">
    <link rel="stylesheet" href="{% static 'css/contadorQuiz.css'%}">
</head>
<body>
    <img src="{% static 'img/Animation321.gif'%}" alt="" srcset="" id="contadorVideo">
    <script src="{% static 'js/contadorQuiz.js'%}"></script>
</body>
</html>