{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MABLA</title>
    <!-- <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=512&id=84881&format=png"> -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">
    
    <link rel="stylesheet" href="{% static 'css/inicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/headerprincipal.css'%}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
      <!-- 
        colores:
        azul oscuro:  
        azul claro: #06bfdb
        morado: #76037a
        naranja: #ff731c
        beige: #fff7ea
        gris: #D9D9D9
     -->
    {% if user.is_authenticated %}
    <header class="header">
        <div class="closeBtn">
            <img src="{% static 'img/cancelar.png'%}" alt="equis" id="imgBotonCerrarMenu">
        </div>
        <div class="parteizq">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'img/mablaLOGO-removebg.png' %}" alt="logo" class="logoImg">
                </a>                
            </div>
            <div class="linkContenido">
                <a href="/menu"><p class="textomenu">Contenido</p></a>
                <a href="/menu">
                    <img src="{% static 'img/flecha-hacia-abajo-para-navegar.png'%}" alt="flecha" style="width: 15px;height: 15px;" class="imgflecha">
                </a>
            </div>
            <div class="linkContenido">
                <a href="#"><p class="textomenu">Sobre nosotros</p></a>
                <a href="#">
                    <img src="{% static 'img/flecha-hacia-abajo-para-navegar.png'%}" alt="flecha" style="width: 15px;height: 15px;" class="imgflecha">
                </a>
            </div>
        </div>

        <div class="partederecha">
            <p class="BotonPrimario">
                <a href="/logOut">Cerrar Sesión</a>
            </p>
            <div class="buscador">
                <input  type="text" name="buscador" class="buscadorMenu" maxlength="20" id="inputADiccio">
                <img src="{% static 'img/lupa.png'%}" alt="lupa" style="width: 10%;">                
            </div>
            <form method="get" enctype="multipart/form-data">
                {% csrf_token %}
                
                <a href="perfil">
                    <div class="imgdeperfil">
                        <img id="fotoUser" src="{{ user.imgPerfil.url}}">
                    </div>                    
                </a>
                <p id="alias">{{ user.username }}</p>
            </form>
        </div>    
</header>

{% else %}
    <!-- sin iniciar sesion  --> 
    <header class="header">
    <div class="closeBtn">
        <img src="{% static 'img/cancelar.png'%}" alt="x" id="imgBotonCerrarMenu">
    </div>
    <div class="parteizq">
        <div class="logo">
            <a href="/">
                <img src="{% static 'img/mablaLOGO-removebg.png'%}" alt="logo" class="logoImg">
            </a>                
        </div>
        <div class="linkContenido">
            <a href="/menu"><p class="textomenu">Contenido</p></a>
            <a href="/menu">
                <img src="{% static 'img/flecha-hacia-abajo-para-navegar.png'%}" alt="flecha" style="width: 15px;height: 15px;" class="imgflecha">
            </a>
        </div>
        <div class="linkContenido">
            <a href="#"><p class="textomenu">Sobre nosotros</p></a>
            <a href="#">
                <img src="{% static 'img/flecha-hacia-abajo-para-navegar.png'%}" alt="flecha" style="width: 15px;height: 15px;" class="imgflecha">
            </a>
        </div>
    </div>
    <div class="partederecha">
        <div id="login">
            <p id="BotonRegisto">
                <a href="/register">Registrarme</a>
            </p>
            <p class="BotonPrimario">
                <a href="/ingresar">Iniciar Sesión</a>
            </p>
        </div>
        <div class="buscador">
            <input  type="text" name="buscador" class="buscadorMenu" maxlength="20" id="inputADiccio">
            <img src="{% static 'img/lupa.png'%}" alt="lupa" style="width: 10%;">                
        </div>
        
    </div>    
</header>    

{% endif %}
    
    <section id="contenido">
        <div class="menuResponsive">
            <img src="{% static 'img/lista.png'%}" alt="" style="width: 30px;" id="imgBotonAbrirMenu">
        </div>

        <div id="tituloMabla">
            <img src="{% static 'img/letrasMABLA.png'%}" alt="mabla" id="letraMabla">
        </div>
        <p class="subLema">Habla con las manos</p>
        <p class="subLema2">Aprende lengua de señas colombiana</p>
        <div class="link" id="linkConte"><a href="/menu">Contenido</a></div>
        <div class="link" id="linkQuiz"><a href="#">Quizes</a></div>
        <div class="link" id="linkDicc"><a href="/diccio/">Diccionario</a></div>
        
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" id="forma">
        <path fill="#ff731c" fill-opacity="1" d="M0,192L80,208C160,224,320,256,480,229.3C640,203,800,117,960,106.7C1120,96,1280,160,1360,192L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>


    <section id="comentariosSection">
        <div class="paraComentar" id="divParaComentar">
            <textarea id="comentar" placeholder="Escribe tu comentario..."></textarea>

            {% if request.user.is_authenticated %}
                <button type="button" class="inputEnviarComentario" id="btnComentario">Comentar</button>
            {% else %}
                <button type="button" id="miDiv" class="inputEnviarComentario">Comentar</button>
            {% endif %}
            <div id="divmsj">
                
            </div>
        </div>

        <div class="listComent">
            
            <!-- <div id="comentario">
                <p id="user"></p>
                <p id="coment"></p>
            </div> -->
             
        </div>
    </section>
    
    <script src="{% static 'js/inicio.js'%}"></script>
    <script src="{% static 'js/headerAdiccionario.js'%}"></script>
</body>
</html>