{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">
  </head>
<body>
  <header>
    <form method="post" id="formLogin" class="row g-3">
      <div class="textSesion">
        INICIAR SESIÓN
      </div>
      {% csrf_token %}
      <section class="sectionForm">
      <div id="ph">
          <label for="{{ username }}" class="form-label"> Alias</label>
          {{ form.username }}
        </div>
        <div id="ph">
          <label for="{{ password }}" class="form-label">Clave</label>
          {{ form.password }}
        </div>
        <div class="links">
          <a href="" class="as">Olvidaste tu contraseña?</a>
          <a href="http://127.0.0.1:8000/registroForm" class="as" id="registroLink">Registrarme</a>
        </div>
        <div id="boton">
          <button class="btn" type="submit" id="colorbtn">Ingresar</button>
        </div>
      </section>
      </form>
      <h1>{{ mensaje }}</h1>
      <div class="imgyText">
        <img id="mablaNaranja" src="/static/img/letrasMABLAnaranja.png" alt="" srcset="">
      <div class="slogan">
        HABLA CON LAS MANOS
      </div>
      <img id="capi" src="/static/img/capiLogin.png" alt="" srcset="" width="60%">
    </div>
  </header>  
  <!-- <script src="{% static 'js/gestionUser.js' %}"></script>   -->
</body>
</html>