{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MABLA</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">
    
    <link rel="stylesheet" href="{% static 'css/headerprincipal.css'%}">
    <link rel="stylesheet" href="{% static 'css/menu.css'%}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
   
    <header class="header">
        <div class="closeBtn">
            <img src="{% static 'img/cancelar.png'%}" alt="" id="imgBotonCerrarMenu">
        </div>
        <div class="parteizq">
            <div class="logo">
                <a href="http://127.0.0.1:8000/inicio">
                    <img src="{% static 'img/mablaLOGO-removebg.png'%}" alt="logo" class="logoImg">
                </a>                
            </div>
            <div class="linkContenido">
                <a href="http://127.0.0.1:8000/menu"><p class="textomenu">Contenido</p></a>
                <a href="http://127.0.0.1:8000/menu">
                    <img src="{% static 'img/flecha-hacia-abajo-para-navegar.png'%}" alt="flecha" style="width: 15px;height: 15px;" class="imgflecha">
                </a>
            </div>
            <div class="linkContenido">
                <a href="#"><p class="textomenu">Sobre nosotros</p></a>
                <a href="#">
                    <img src="{% static 'img/flecha-hacia-abajo-para-navegar.png'%}" alt="flecha" style="width: 15px;height: 15px;" class="imgflecha">
                </a>
            </div>
        </div>
        <div class="partederecha">
            <div id="login">
                <p id="BotonRegisto">
                    <a href="http://127.0.0.1:8000/registroForm">Registrarme</a>
                </p>
                <p id="BotonIngresar">
                    <a href="http://127.0.0.1:8000/ingresar">Iniciar Sesión</a>
                </p>
            </div>
            <div class="buscador">
                <input  type="text" name="buscador" class="buscadorMenu" maxlength="20">
                <img src="{% static 'img/lupa.png'%}" alt="lupa" style="width: 10%;">                
            </div>
            
        </div>    
    </header>

    <section id="menuContenido">
        <!-- <div class="categoria">
            <a href="http://127.0.0.1:8000/mostrar/">
                <h2></h2>
            </a>
        </div>

        <div class="categoria">
            <h2></h2>
            
        </div>

        <div class="categoria">
            <h2></h2>
            
        </div>

        <div class="categoria">
            <h2></h2>
            
        </div>

        <div class="categoria">
            <h2></h2>            
            
        </div>

        <div class="categoria">
            <h2></h2>
            
        </div>

        <div class="categoria">
            <h2></h2>
            
        </div>

        <div class="categoria">
            <h2></h2>            
            
        </div> -->
        
    </section>


    <script src="{%static 'js/menu.js'%}"></script>
</body>
</html>