{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>datos usuario</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div><label for="">Nombre</label>{{form.first_name}}</div>
        <div><label for="">Apellido</label>{{form.last_name}}</div>
        <div><label for="">Correo</label>{{form.email}}</div>
        <div><label for="">Clave</label>{{form.password}}</div>
        <div><label for="" type="file">Foto</label>{{form.imgPerfil}}</div>
        <img src="{{ form.instance.imgPerfil.url }}">
        <button type="submit" name="editar" value="editar">Guardar cambios</button>

    </form>
</body>
</html>