{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/mablaLOGO-removebg.png' %}">

    <link rel="stylesheet" href="{% static 'css/quiz2.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <form method="get" enctype="multipart/form-data">
        <p id="alias">{{ user.username }}</p>
    </form>
    <section id="sectionPregunta">
        <div class="flecha">
            <img src="{% static 'img/flecha-apunta-a-la-izquierda.png'%}" id="retrocede" class="imgflecha">
        </div>
        
        <div id="espacioQuiz">
            <div id="preguntas">
                <p id="pregunta">A que seña corresponde esta palabra</p>
                <div id="palabra"></div>
            </div>
            <div id="respuestas">
                <div class="opcion opcion0" id="conte0">
                    <img class="senia" id="opcion0"></img>
                </div>                                  
                <div class="opcion opcion1" id="conte1">
                    <img class="senia" id="opcion1"></img>
                </div>
                <div class="opcion opcion2" id="conte2">
                    <img class="senia" id="opcion2"></img>
                </div>
                <div class="opcion opcion3" id="conte3">
                    <img class="senia" id="opcion3"></img>
                </div>
            </div>
        </div>

        <div class="flecha">
            <img src="{%static 'img/flecha-apunta-a-la-derecha.png'%}" id="avanza" class="imgflecha">
        </div>

    </section>
    <section id="resultado">
        <p class="p">tu puntaje:</p>
        <p id="calificacion"></p>
        <div class="boton" id="btnInicio"><a href="http://127.0.0.1:8000/">Volver al Inicio</a></div>
        <div class="boton" id="btnAprender"><a href="http://127.0.0.1:8000/mostrar/">Seguir Aprendiendo</a></div>
        <img src="{%static 'img/capiJugito.png'%}" alt="" id="CapibaraImg">
    </section>

    <script src="{% static 'js/quizTipo2.js'%}"></script>
</body>

</html>