{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Registrate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;500&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <form method="POST" id="formInsert" class="row g-3" enctype="multipart/form-data">
      <div class="textRegister">
        REGISTRARME
      </div>
      {% csrf_token %}
      <section id="sectionform">
            <div class="inputs" id="ph">
                <label for="{{ form.first_name.id_for_label }}"  >Nombre</label>
              <!-- <input type="text" class="form-control" id="validationNombre" required> -->
                {{ form.first_name }}
            </div>

            <div id="apellido" class="inputs">
                <label for="{{ form.last_name.id_for_label }}" >Apellido</label>
              <!-- <input type="text" class="form-control" id="validationApellido" required> -->
                {{ form.last_name }}
            </div>

            <div id="correo" class="inputs">
                <label for="{{ form.email.id_for_label }}" >Correo electrónico</label>
              <!-- <input type="email" class="form-control" id="validationCorreo" required> -->
                {{ form.email }}
            </div>

            <div id="alias" class="inputs">
                  <label for="{{ form.username.id_for_label }}" class="formLabel" id="pAlias">Nombre de usuario (Alias)</label>
                <!-- <input type="text" class="form-control" id="validationUsername" required> -->
                  {{ form.username }}
              </div>
              
            <div id="clave" class="inputs">
                <label for="{{ form.password1.id_for_label }}" >Clave</label>
              <!-- <input type="password" class="form-control" id="validationPassword" required> -->
                {{ form.password1 }}
            </div>

            <div id="clave1" class="inputs">
                <label for="{{ form.password2.id_for_label }}" >Confirma tu clave</label>
              <!-- <input type="password" class="form-control" id="validationPassword" required> -->
                {{ form.password2 }}
            </div>
            <div class="col-16" id="boton">
              <button class="btn" type="submit" id="colorbtn">Registrarme</button>
          </div>
          </section>
            <!-- <p id="mensaje-error"></p>        -->
          </form>
            <h1>{{mensaje}}</h1>
          <div class="imgyText">
            <img id="mablaNaranja" src="/static/img/letrasMABLAnaranja.png" alt="" srcset="">
          <div class="slogan">
            HABLA CON LAS MANOS
          </div>
          <img id="capi" src="/static/img/capiLogin.png" alt="" srcset="">
        </div>
    </header>
    <!--<script src="{% static 'js/registro.js' %}"></script> -->
</body>
</html>