body{
    background-color: #fff7ea;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#contadorVideo{
    transition: transform 3s ease;
}
