@font-face {
    font-family: "raleway";
    src: url("/static/fonts/Raleway/Raleway-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
}

.miClase:hover{
    background-color: #06bfdb;
    
    

}

form{
    width: 20%;
}

#wordList{
    width: 100%;
}
.caja1{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    padding: 30px 0 30px 0;
}

input{
    border: none;
    font-size: 18px;
    font-family: "raleway"; 
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
    
    
}
#inicial{
    background-color: transparent;
    margin-left: 30px;
}

button{
    
    background-color: transparent;
    border: none;
}


#buscador{
    border: 2px solid black;
    border-radius: 100px;
        
}
#container{
    display: flex;
    float: right;
    padding: 2px;
    margin-top: -28px;
    text-align: center; 
   
    
} 
#buscadorMenu{
    border: none;
    margin-left: 10px;
    width: 90%;
}

::placeholder{
    color: grey;
}



.btn{
    position: absolute;
    top: 25px;
    right: 8%;
    width: 50px;
    height: 50px;
    background: #0a4d68;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;

}


.btn i{
    font-size: 25px;
    color: rgb(16, 10, 182);
    line-height: 80px;
    
}





.btn:hover{
    background: rgb(126, 5, 5);
    background-color: #ff731c;
    
}



.cajaboton{
    
    width: 10%;
    display: flex;
    justify-content: center;
}

.home{
    display: flex;
    border-radius: 0;
    justify-content: center;
    
}


.caja2{  
    width: 100%;
    
       
}

#results{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: auto auto;
    
}

.grouppal{

    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.imgpal{
    height: 300px;
    width: 300px;
    justify-content: end;
    background-color: blue;
    border: 2px solid #ddd; /* Agrega un borde ligero */
    border-radius: 8px; /* Hace que las esquinas sean redondeadas */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Agrega una sombra suave */
    transition: transform 0.2s ease-in-out;
}

.imgpal:hover{
    transform: scale(1.1);
}



.p{
    font-size: 30px;
    color: rgb(6, 6, 6);
    font-family: "raleway";
    height: auto;
    width: 25%;
    background-color: transparent;
    text-align: center;
    padding-top: 70px;
    margin-left: 30px;
    
    
}
.letras{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;    
}

.list_show{
    list-style: none;
    /* transition: height .4s; */
    display: flex;
    justify-content: center;
}

/* .nav_link--inside:hover{
    background-color: #ff731c;
   padding: 10;

} */



.nav_link{
    display: flex;
    display: block;
    text-decoration: none;
    font-size: 25px;   
    color: #035f8a; 
    padding: 3px 5px 3px 5px;
    margin: 6px;
}

.list_inside:hover{
    background-color: #06bfdb;
}
.list_inside{
    border-radius: 6px;
    text-align: center;
    font-family: "raleway";
    
}


.hider{
    display: none;
   
}

.show{
   display: block;
}


#login{
    display: flex;
    justify-content: center;


}
#BotonIngresar{
    background-color: #06bfdb;
    padding: 7px 18px;
    border-radius: 100px;

}

#BotonRegisto{
    padding: 7px 13px 0 20px;
}
#buscador{
    width: 30%;
    display: flex;
    border: 2px solid black;
    border-radius: 100px;
    padding: 3px;
    margin-left: 10px;
}
#buscadorMenu{
    border: none;
    margin-left: 10px;
    width: 90%;
}
.let{
    text-decoration: none;
    color: white;
}
.ver{
    position: absolute;
    margin-left: 40px;
}

.logo{
    height: 50px;
    float: right;
    margin-right: 20px;
}
#flecha{
    width: 50%;
}

#palcaja{

    margin-top: -30px;
    float: right;
}




@media screen and (min-width:320px) and (max-width:700px){

    @font-face {
        font-family: "raleway";
        src: url("/static/fonts/Raleway/Raleway-Regular.ttf");
    }
    *{
        margin: 0;
        padding: 0;
    }
   
    #palcaja{
        margin-top: -28px;
        float: right;
        width: 67%;
    }


    
    .miClase:hover{
        background-color: #06bfdb;
       
        
    
    }
    .miclasep{
        font-size: 10px;
    }
    
    form{
        width: 20%;
    }
    
    #wordList{
        width: 100%;
    }
    .caja1{
        display: flex;
        height: 50px;
        flex-direction: row;
        background-color: #D9D9D9;
        padding: 30px 0 30px 0;
    }
    
    input{
        border: none;
        font-size: 18px;
        font-family: "raleway"; 
        outline: none;
        width: 100%;
        background-color: transparent;
        border: none;
        
        
    }
    #inicial{
        background-color: transparent;
        margin-left: 30px;
        
    }
    
    button{
        
        background-color: transparent;
        border: none;
    }
    
    
    #buscador{
        border: 2px solid black;
        border-radius: 100px;
        
            
    }
    #container{
        display: flex;
        float: right;
        padding: 2px;
        margin-top: -28px;
        text-align: center; 
       
        
    } 
    #buscadorMenu{
        border: none;
        margin-left: 10px;
        width: 90%;
    }
    
    ::placeholder{
        color: grey;
    }
    
    
    
    .btn{
        position: absolute;
        top: 25px;
        right: 8%;
        width: 50px;
        height: 50px;
        background: #0a4d68;
        line-height: 80px;
        border-radius: 50%;
        text-align: center;
    
    }
    
    
    .btn i{
        font-size: 25px;
        color: rgb(16, 10, 182);
        line-height: 80px;
        
    }
    
    
    
    
    
    .btn:hover{
        background: rgb(126, 5, 5);
        background-color: #ff731c;
        
    }
    
    
    
    .cajaboton{
        
        width: 10%;
        display: flex;
        justify-content: center;
        
    }
    #flecha{
        width: 100%;
        height: 30px;
        margin: auto;
    }
    
    .home{
        display: flex;
        border-radius: 0;
        justify-content: center;
        
    }
    
    
    .caja2{
        
        width: 100%;
        
        
    }
    
    #results{
        width: 100%;
        height: auto;
        justify-content: right;
        align-items: flex-end;

        
        
    }
    
    .grouppal{
        flex-direction: column;
        margin-top: 100px;
    }
    
    .imgpal{
        height: 150px;
        width: 150px;
        justify-content: end;
        background-color: blue;
    }
    
    .p{
        font-size: 20px;
        color: rgb(6, 6, 6);
        font-family: "raleway";
        height: auto;
        width: 25%;
        background-color: transparent;
        text-align: center;
        padding-top: 70px;
        margin-left: 30px;
        
        
    }
    .letras{
        width: 30%; 
        justify-content: center;
        align-items: center; 
        display: grid;
        grid-template-columns: auto auto;
       
        
        
         

    }
     
    .list_show{
        background-color: #06bfdb;
        height: 100vh;
        list-style: none;
        flex-direction: column;
        /* transition: height .4s; */
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    /* .nav_link--inside:hover{
        background-color: #ff731c;
       padding: 10;
    
    } */
    
    
    
    .nav_link{
        display: flex;
        display: block;
        text-decoration: none;
        font-size: 20px;   
        color: #035f8a; 
        padding: 3px 5px 3px 5px;
        margin: 6px;
    }
    
    .list_inside:hover{
        background-color: #06bfdb;
    }
    .list_inside{
        border-radius: 6px;
        text-align: center;
        font-family: "raleway";
        
    }
    
    
    .hider{
        display: none;
        
    
       
    }
    
    .show{
       display: block;
      
    }
    
    
    #login{
        display: flex;
        justify-content: center;
        display: none;
    
    
    }
    #BotonIngresar{
        background-color: #06bfdb;
        padding: 7px 18px;
        border-radius: 100px;
    
    }
    
    #BotonRegisto{
        padding: 7px 13px 0 20px;
    }
    #buscador{
        width: 100%;
        display: flex;
        border: 2px solid black;
        border-radius: 100px;
        padding: 3px;
        margin-left: 10px;
    }
    #buscadorMenu{
        border: none;
        margin-left: 10px;
        width: 90%;
    }
    .let{
        text-decoration: none;
        color: white;
    }
    .ver{
        position: absolute;
        margin-left: 40px;
    }
    
    .logo{
        height: 50px;
        float: right;
        margin-right: 20px;
    }


}
