@font-face {
    font-family: "arimo";
    src: url(/Tablas/static/fonts/Arimo/Arimo-Medium.ttf);
}
@font-face {
    font-family: "raleway";
    src: url(/Tablas/static/fonts/Raleway/Raleway-Medium.ttf);
}
*{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

input{
    border: none;
    font-size: 18px;
    font-family: "raleway"; 
    outline: none;
}

#header{
    display: flex;
    justify-content: space-between;
}
#parteizq, #partederecha{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkContenido{
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
    padding: 20px;
}
.textomenu{
    font-size: 20px;
    font-family: "raleway";
}
.imgflecha{
    margin-left: 3px;
    margin-top: 6px;
}
#login{
    background-color: #0a4d68;
    display: flex;
    justify-content: center;
    color: white;
    /* padding: 10px 20px; */
    font-size: 20px;
    font-family: "raleway";
    border-radius: 100px;
}
#BotonIngresar{
    background-color: #06bfdb;
    padding: 7px 18px;
    border-radius: 100px;
}

#BotonRegisto{
    padding: 7px 13px 0 20px;
}
#buscador{
    width: 40%;
    display: flex;
    border: 2px solid black;
    border-radius: 100px;
    padding: 3px;
    margin-left: 10px;
}
#buscadorMenu{
    border: none;
    margin-left: 10px;
    width: 90%;
}