@font-face {
    font-family: "raleway";
    src: url(/Tablas/static/fonts/Raleway/Raleway-Medium.ttf);
}

*{
    margin: 0;
}
input{
    border: none;
    font-size: 18px;
    font-family: "raleway"; 
    outline: none;
}
p{
    font-family: "raleway";
}
#contenido{
    background-color: #ff731c;
}

#contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#tituloMabla{
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
}

#letraMabla{
    padding: 10px;
    width: 80%;
}
.subLema{
    padding: 10px 0 30px 0;
    font-size: 20px;
    font-family: "raleway";
}
.link{
    font-size: 20px;
    font-family: "raleway";
    background-color: #fff7ea;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 20%;
    margin: 5px;
    border-radius: 100px;
}
#forma{
    margin-top: -80px;
    margin-bottom: -60px;
}

#comentariosSection{
    /* position: relative; */
    padding: 0 30pc 0 30px;
    margin-bottom: 40px;
    display: flex;
}
.listComent{
    width: 55%;
    margin-left: 10px;
}
.paraComentar{
    width: 50%;
    display: flex;
    flex-direction: column;   
}
#comentar{    
    border-radius: 10px;
    width: 80%;
    height: 50px;
    border: 1px solid black;
    padding: 15px 30px 0 30px;
    resize: none; 
    overflow: hidden; 
    font-size: 20px;
    font-family: "raleway";
}



::placeholder{
    font-size: 20px;
    font-family: "raleway";
}
#enviarComentario{
    font-size: 20px;
    font-family: "raleway";
    background-color: #06bfdb;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 60%;
    border-radius: 100px;
    margin-top: 10px;
}


#comentario{
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px 10px 0 10px;
    margin-bottom: 10px;
}
#user{
    font-size: 15px;
    color: grey;
}
#coment{
    font-size: 20px;
    margin-top: 5px;
}
