@font-face {
    font-family: "raleway";
    src: url("{% static 'fonts/Raleway/Raleway-Medium.ttf' %}");
}

*{
    margin: 0;
}

body{
    background-color: #fbfbfb;
}

.titulo{
    font-family: "raleway";
    margin-top: -260px;
    font-size: 70px;
    padding: 20px;
    width: 78%;
    text-align: right;
    
    
    
}


#todo{
    display: flex;
    height: auto;
    margin: auto;
    
    

}
#imagen{
    width: 50%;
    height: auto;
    
}
#img{
    display: flex;
    
}
.foto{
    height: 250px;
    margin: auto;
}
#contenido{
    height: 330px;
    width: 40%;
   
    
}

.dat{
    height: auto;
    margin: auto;
}

#inp{
    height: auto;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
input{
   width: 80%;
    height: 30px;
    background-color:  #D9D9D9;
    border-radius: 100px;
    text-align: center;
}
#im{
    
    display: flex;
    align-items: center;
    background-color: #76037a;
    width: 15%;
    border-radius: 100px;
}

#lap{
    margin: auto;
    height: 25px;
}

.progreso{
    height: auto;
    
}

#clicks{
    float: right;
    padding: 20px;
    background-color:  #06bfdb;
    color: white;
}
#btn{
    display: flex;
}

.hider{
    display: none;
    height: auto;
   
}

.show{
   display: block;
}





.sbo{
    color: white;
     font-family: "raleway";
}

#result{
    background-color: #0a4d68;
    display: flex;
    width: 90%;
    height: auto;
    padding: 20px;
}
#vertodo{
    width: 90%;
}

#cuno{
    width: 30%;
    

}
#cdos{
    height: auto;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
#cajon{
    width: 60%;
    height: auto;
}
#place{
   width: 100%;
    height: 30px;
    background-color: rgb(230, 230, 243);
}
#cajita{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76037a;
    width: 8%;
}
#mas{
    float: right;
}
#nota{
    text-align: center;
}