header{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-image: url("/static/img/picoSGV.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-start;
    height: 850px;
    padding-left: 70px;
}

form{
    width: 40%;
    justify-content: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 25px;
}

.textRegister{
    text-align: center;
    font-family: 'Martian Mono', monospace;
}
#boton{
    display: flex;
    justify-content: center;
    margin-top: 40px;  
}
#colorbtn{
    background:  #ff731c;
    color: white;
    font-size: 28px;
    width: 35%;
}
#apellido{
    margin-left: 40px;
}
#correo{
    margin-left: 40px;
}
#clave{
    margin-top: 50px;
    margin-left: 40px; 
}
#validationNombre{
    background-color: rgb(252,244,234);
}
#validationApellido{
    background-color: rgb(252,244,234);
}
#validationTelefono{
    background-color: rgb(252,244,234);
}
#validationCorreo{
    background-color: rgb(252,244,234);
}
#validationUsername{
    background-color: rgb(252,244,234);
}
#mensaje-error{
    color: red;
    font-size: 20px;
    margin-left: 90px; 
}
#validationPassword{
    background-color: rgb(252,244,234);
}
.imgyText{
    width: 40%;  
    margin-top: 40px;
}
.slogan{
    text-align: center;
    font-family: 'Martian Mono', monospace;
    color:  #ff731c;
    margin-top: 20px;
}
@media screen and (min-width:320px) and (max-width:700px){
    header{
        background-image: url("/static/img/picoResponsiveRegistro.svg");
        align-items: start;
        flex-direction: column;
        padding: 0px;
        padding-top: 10px;
        
    }
    form{
        width: 95%;
        padding: 0%;
        justify-content: flex-end;
        font-size: 15px;
    }
    .textRegister{
        font-size: 24px;
        text-align: end;
        margin-right: 15px;
    }
    #ph{
        width: 70%;
    }
    #apellido{
        width: 70%;
    }
    #correo{
        width: 70%;
    }
    #alias{
        width: 70%;
    }
    #clave{
        width: 70%;
        margin: 0px;
        margin-top: 15px;
    }
    #boton{
        margin: 0%;
        justify-content: end;
    }
    #colorbtn{
        font-size: 18px;
        width: 45%;
    }
    .imgyText{
        padding: 0%;
        margin: 0%;
        width: 55%;
        padding-left: 3px;
        margin-bottom: 40px;
    }
    .slogan{
        margin-top: 15px;
    }
    #mensaje-error{
        color: red;
        font-size: 13px;
        text-align: end;
    }
}