header{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-image: url("/static/img/picoSGV.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-start;
    height: 850px;
    padding-left: 70px;
}

form{
    width: 40%;
    justify-content: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 25px;
}

.textRegister{
    text-align: center;
    font-family: 'Martian Mono', monospace;
}
#boton{
    display: flex;
    justify-content: center;
    margin-top: 40px;  
}
#colorbtn{
    background:  #ff731c;
    color: white;
    font-size: 28px;
    width: 35%;
}
#apellido{
    margin-left: 40px;
}
#correo{
    margin-left: 40px;
}
#clave{
    margin-left: 40px; 
}
#validationNombre{
    background-color: rgb(252,244,234);
}
#validationApellido{
    background-color: rgb(252,244,234);
}
#validationTelefono{
    background-color: rgb(252,244,234);
}
#validationCorreo{
    background-color: rgb(252,244,234);
}
#validationUsername{
    background-color: rgb(252,244,234);
}
#mensaje-error{
    color: red;
    font-size: 20px;
    margin-left: 90px; 
}
#validationPassword{
    background-color: rgb(252,244,234);
}
.imgM{
    width: 40%;  
    margin-top: 100px;
}