header{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("/img/picoSGV.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: start;
    height: 850px;
    padding-top: 210px;
}

form{
    justify-content: center;
    align-items: center;
    width: 44%;
    height:290px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 100px;
}
#boton{
    display: flex;
    justify-content: center;
    margin-top: 40px;  
}
#colorbtn{
    background:  #ff731c;
    color: white;
    font-size: 20px;
    width: 35%;
}
#validationNombre{
    background-color: rgb(252,244,234);
}
#validationApellido{
    background-color: rgb(252,244,234);
}
#validationTelefono{
    background-color: rgb(252,244,234);
}
#validationCorreo{
    background-color: rgb(252,244,234);
}
#validationUsername{
    background-color: rgb(252,244,234);
}
#mensaje-error{
    color: red;
    font-size: 20px;
    margin-left: 90px; 
}
#validationPassword{
    background-color: rgb(252,244,234);
}