
.header{
    background-color: rgb(4, 34, 59);
    padding: 30px;
}

.custom-shape-divider-top-1686420124 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1686420124 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 161px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1686420124 .shape-fill {
    fill: #048b8d29;
}

.custom-shape-divider-top-1686419354 {
    position: absolute;
    top: end;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1686419354 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 203px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1686419354 .shape-fill {
    fill: #071e3d;
}

h1{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: cursive;


    }



h2{
    width: 40%;
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-family: sans-serif;color: cyan;
}
.flecha{
    margin: auto;
    display: flex;
}
.btn-primary{
    background-color: rgb(97, 11, 95);
    padding: 20px;
    margin: auto;
    display: flex;
    width: 8%;
    text-decoration: none;
    text-align: center;
    border-radius: 10% 10% 10% 10%;
    margin-top: 50px;
    box-shadow: 2px 10px 10px 10px rgba(8, 8, 8, 0.274);
    text-shadow: 9px 8px 5px black;
}