header{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    background-image: url("/img/picoSGV.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-start;
    height: 900px;
}

#form{    
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 25px;
    padding: 0px 50px 50px 50px;
}
.textSesion{
    font-size: 40px;
    text-align: center;
    font-family: 'Martian Mono', monospace;
    margin-bottom: 25px;
}
#boton{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#colorbtn{
    background:  #ff731c;
    color: white;
    font-size: 30px;
    width: 40%;
}
#validationUsername{
    background-color: rgb(252,244,234);
}
#validationPassword{
    background-color: rgb(252,244,234); 
}

.links{
    display: flex;
    padding-top: 15px;
    padding-bottom: 40px;
    flex-direction: column;
    font-size: 25px;
    align-items: flex-end;
}
.as{
    color: white;
    text-decoration: none;
}
.imgyText{
    display: flex;
    flex-wrap: wrap;
    width: 43%;  
    justify-content: end;
    padding: 10% 5px 0px 10px;
}
.slogan{
    font-family: 'Martian Mono', monospace;                                                                                                                                                                                                                                                                                                                                                
    color:  #ff731c;   
    margin-top: 30px; 
    margin-right: 50px;    
    font-size: 40px;    
}
#mablaNaranja{
    width: 100%; 
}
#capi{
    margin-top: 25%;
    margin-left: 50px;
    width: 39%;
    height: 50%;    
}
#ph{
    margin-left: 40px;
}
#mensaje-error{
    color: red;
    font-size: 20px;
    margin-left: 90px;
}

@media screen and (min-width:320px) and (max-width:700px){
    header{
        background-image: url("/img/picoResponsiveSVG.svg");
        width: 81%;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    #form{
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-right: 50px;
    }
    form{
        font-size: 15px;
        align-items: end;
        padding: 0px;
        margin: 0px;
        padding-right: 20px;
        padding-left: 12px;
    }
    .textSesion{
        font-size:18px;
        text-align: center;
        margin: 0px;
        padding: 0px;
        padding-top: 20px;
        margin-left: 35px;
    }
    #ph{
        width: 90%;
        margin-right: 10px;
    }
    input{
        height: 30px;
    }
    #mensaje-error{
        color: red;
        font-size: 13px;
        text-align: end;
        margin: 0px;
        margin: 15px 0px 15px 0px;
    }
    .links{
        margin: 0px;
        padding: 0px;
        font-size: 13px;
        text-align: end; 
    }
    #boton{
        justify-content: flex-end;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        margin-top: 25px;
        margin-left: 40px;
    }
    #colorbtn{
        font-size: 17px;
        margin: 0px;
        padding: 0px;
        padding: 5px;
        width: 50%;
        margin-top: 10px;
    }
    .imgyText{
        /* display: grid; */
        padding: 0%;
        margin: 0%;
        /* grid-template-columns: repeat(2);
        grid-template-rows: repeat(2);  */
        width: 100%;
        justify-content: flex-start;
        padding: 0px 0px 0px 10px;
        position: absolute;
        top: 50%;
        z-index: 2;
    }
    #mablaNaranja{
        width: 49%; 
        margin-top: 45px;
    }
    .slogan{
        width: 80%;
        /* flex-wrap: wrap; */
        /* height: 10%;
        grid-column: 1; */
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
        font-size: 15px;
        margin-right: 50%;
        text-align: center;
    }
    #capi{
        padding: 0px;
        margin: 0px;
        width: 30%;
        margin-left: 30px;
    }
}

@media screen and (min-width:1200px) and (max-width:1600px) {       
    header{
        height: 630px;
        padding: 0px;
        margin: 0px;
    }
    .inputs{
        width: 50%;
    }
    .links{
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #colorbtn{
        font-size: 25px;
    }
    .imgyText{
        height: 100%;
        padding: 0px;
        margin: 0px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 24px;
        padding-left: 10px;
    }
    #mablaNaranja{
        margin: 0px;
        padding: 0px;
        padding-right: 25px;
    }
    .slogan{
        padding: 0px;
        margin: 0px;
        margin-bottom: 50px;
        margin-top: 15px;
        font-size: 35px;
        padding-right: 50px;
    }
    #capi{
        padding: 0px;
        margin: 0px;
        width: 50%;
        height: 50%;
    }
}