@font-face {
    font-family: "raleway";
    src: url("{% static 'fonts/Raleway/Raleway-Medium.ttf' %}");
}

@font-face {
    font-family: "martian";
    src: url("{% static 'fonts/Martian_Mono/MartianMono_SemiCondensed-Regular.ttf' %}");
}

*{
    margin: 0;
}

body{
    background-color: #fbfbfb;
}



#formdatos{
    display: flex;
    flex-direction: row;
}
#id_imgPerfil{
    width: 20%;
    color: transparent;
    background-color: transparent;
    border-radius: 1px;
    display: flex;
    margin: auto;
}

#id_imgPerfil[type="file"] {
    display: none;
    font-family: "raleway";


  }
.subt{
    font-family: "raleway";
}

/* .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    border-radius: 4px;
  } */
#editar{
    background-color: #06bfdb;
    display: flex;
    margin: auto;
    font-family: "raleway";
    padding: 10px;
    border-radius: 80px;
    margin-top: 30px;
    border: none;
}
.fotperfil{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.datosusua{
    width: 50%;
}

.titulo{
    font-family: "martian", "monospace";
    margin-top: -230px;
    font-size: 70px;
    padding: 20px;
    width: 80%;
    text-align: right;
    
    
    
}
.buscadorMenu{
    background-color: transparent;
}


#todo{
    display: flex;
    height: auto;
    margin: auto;
    
    

}
#imagen{
    width: 50%;
    height: auto;
    
}

#fotoUser{
   height: 100px;
   
}

#fotouser{
    height: 200px;
}
#img{
    display: flex;
    
}
.foto{
    height: 250px;
    margin: auto;
}
#contenido{
    height: 330px;
    width: 40%;
   
    
}

.dat{
    height: auto;
    margin: auto;
}

#inp{
    height: auto;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
input{
    width: 40%;
    height: 30px;
    background-color:  #D9D9D9;
    border-radius: 100px;
    text-align: center;
    /* margin-left: 100px; */
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-family: "raleway";
    border: none;
}
#im{
    
    display: flex;
    align-items: center;
    background-color: #76037a;
    width: 15%;
    border-radius: 100px;
}

#lap{
    margin: auto;
    height: 25px;
}

.progreso{
    height: auto;
    margin-top: 50px;
    
}

#clicks{
    float: right;
    display: flex;
    padding: 20px;
    background-color:  #06bfdb;
    color: white;
    border-radius: 50px;
    
}
#btn{
   
    display: flex;
}

.hider{

    margin-top: 100px;
    display: none;
    height: auto;
   
}

.show{
   display: block;
}

.sbo{
    cursor: pointer;
    color: white;
    font-family: "raleway";

}
.respuesta{
    margin-top: 150px;
}

#result{
    background-color: #0a4d68;
    display: flex;
    height: auto;
    padding: 20px;
    align-items: center;
}
#vertodo{
    width: 100%;
}

#cuno{
    width: 30%;
    

}
#cdos{
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#cajon{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
}
#place{
    width: 60%;
    height: 30px;
    background-color: rgb(230, 230, 243);
    float: left;
}
#cajita{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76037a;
    border-radius: 20px;
    margin-top: 18px;
    width: 100%;
    margin-left: 5px;
    margin-top: 10px;

    
}
.incat{
    width: 100%;
}

#spannot{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}
#mas{
    float: right;
}
#nota{
    text-align: center;
}

#flecha{
    height: 30px;
}

