@font-face {
    font-family: "raleway";
    src: url(/fonts/Raleway/Raleway-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: grey;
    height: 80px;
}
#sectionPregunta{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#senia{
    width: 300px;
    height: 300px;
    background-color: rgb(174, 174, 174);
    margin-left: auto;
    margin-right: auto;
}
#pregunta{
    font-size: 28px;
    font-family: "raleway";
    margin-bottom: 20px;
    text-align: center;
}
#respuestas{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.flecha{
    width: 12%;
    display: flex;
    justify-content: center;
}
#espacioQuiz{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opcion{
    font-family: "raleway";
    font-size: 28px;
    text-align: center;
    padding: 20px 0 20px 0;
}
#opcion0{
    background-color: #76037a;
    color: white;
}
#opcion1{
    background-color: #0a4d68;
    color: white;
}
#opcion2{
    background-color: #06bfdb;
}
#opcion3{
    background-color: #ff731c;
}
.imgflecha{
    width: 80px; 
    height: 80px;
}
#linkSenia{
    width: 98%;
}
@media screen and (min-width: 320px) and (max-width: 700px) {
    header{
        height: 0;
    }
    #senia{
        width: 100%;
        height: 200px;
        background-color: rgb(174, 174, 174);
        margin-left: auto;
        margin-right: auto;
    }
    .flecha{
        height: 200px;
        align-items: flex-end;
    }
    .imgflecha{
        width: 30px; 
        height: 30px;
    }
    #respuestas{
        margin-top: 20px;
        margin-bottom: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
} 

@media screen and (min-width: 1600px) {

    #senia{
        width: 400px;
        height: 400px;
    }
    #sectionPregunta{
        margin-top: 40px;
        
    }
    #respuestas{
        margin-top: 40px;
        gap: 30px;
    }
    #pregunta{
        margin-bottom: 30px;
    }
    
} 