<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if validlink %}
        <h1>NUEVA CONTRASEÑA</h1>

        <form method="post">
            {% csrf_token %}
                {{form.new.password1.errors}}
                <label for="id_new_password1">Nueva clave:</label>
                {{form.new_password1}}
                <label for="id_new_password2">confirma clave:</label>
                {{form.new.password2}}
                <input type="submit" value="Cambiar clave">
        </form>
        {% else %}
        <h1 class="text-center">PAILA</h1>
        {% end if %}
</body>
</html>